<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackaton.hevre.clientapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="android.app.searchable"
        android:resource="@xml/searchable"/>
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".View.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:resource="@xml/searchable"
                android:value="com.hackaton.hevre.clientapp.View.MainActivity"

                />
        </activity>
        <activity
            android:name=".View.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".View.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackaton.hevre.clientapp.View.MainActivity" />
        </activity>
    </application>
    <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
    </intent-filter>

    <meta-data
        android:name="android.app.default_searchable"
        android:value="com.example.HomeActivity" />
    <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />




</manifest>
